body,
    html {
      margin: 0;
      padding: 0;
      font-size: 12px;
      font-family: "DejaVu Serif";
      color: white;
      text-transform: uppercase;
      text-align: center;
      background-color: black;
    }

    .container-fluid {
      max-height: 100vh;
      margin: 10px auto;
      border: 5px solid #333;
      box-sizing: border-box;
      padding: 5px;
      display: grid;
      grid-template-areas: "header-kiri header header-kanan1 header-kanan"
        "aside main kananatas1 kananatas2"
        "kiri main kanan1 kanan2"
        "footer-kiri main kanan1 kanan2"
        "footer footer footer footer";
      grid-template-columns: 1fr 3fr 1fr 1fr;
      grid-template-rows: 1fr 2fr 6fr 1fr 1fr;
      grid-gap: 5px;
    }

    #header-kiri {
      grid-area: header-kiri;
      background-color: #252424;
      color: #CBC7C7;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    header {
      grid-area: header;
      background-color: #252424;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #CBC7C7;
      font-size: 14px;
    }

    #header-kanan1 {
      grid-area: header-kanan1;
      background-color: #252424;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #CBC7C7;
      font-size: 14px;
    }

    #header-kanan {
      grid-area: header-kanan;
      background-color: #252424;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #CBC7C7;
      font-size: 14px;
    }

    aside {
      grid-area: aside;
      background-color: #252424;
      color: #CBC7C7;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }

    #kiri {
      grid-area: kiri;
      background-color: #252424;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      max-height: 330px;
      padding-top: 5px;
      /* font-size: 11px; */
      /* overflow-y: hide; */
      color: #CBC7C7;
    }

    main {
      grid-area: main;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
    }

    #kananatas1 {
      grid-area: kananatas1;
      background-color: #252424;
      color: #CBC7C7;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }

    #kananatas2 {
      grid-area: kananatas2;
      background-color: #252424;
      color: #CBC7C7;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }

    #kanan1{
      grid-area: kanan1;
      box-sizing: border-box;
      background-color: #252424;
      color: #CBC7C7;
      justify-content: center;
      align-items: center;
      /* overflow-y: scroll; */
    }

    #kanan2{
      grid-area: kanan2;
      box-sizing: border-box;
      background-color: #252424;
      color: #CBC7C7;
      justify-content: center;
      align-items: center;
      /* overflow-y: scroll; */
    }

    #footer-kiri {
      grid-area: footer-kiri;
      background-color: #252424;
      color: #CBC7C7;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }

    footer {
      grid-area: footer;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #252424;
      color: #CBC7C7;
      font-size: 14px;
    }